# Blockchain
STELLAR_NETWORK=TESTNET
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_CONTRACT_ID=
STELLAR_USDC_ASSET=

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/farmlink?schema=public"

# Other
NEXT_PUBLIC_API_URL=http://localhost:3000
